
    <div class="tiempos">
            <H5> entregamos en dias habiles a nivel nacional</H5>
    </div>

<!-- cabecera -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="image/logos.jpg" alt="logos" class="logos" width="110px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-link active custom-title ms-1 " aria-current="page" href="#" id="bs" > Beauty Shop </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
            <section id="buscador"> 
            <input class="form-control me-2" type="search" placeholder="Buscador" aria-label=>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
      
        </section>

          <section id="nav1">
          <ul class="navbar-nav mb-2 mb-lg-0 ms-5 " >
            <li class="nav-item" >
              <a class="nav-link" href="#">Ofertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Catalagos</a>
            </li>
          </ul>
        </section>

          <section id="bag">
          <ul class= "navbar-nav">
            <li class="nav-item " >
              <i class="fa-solid fa-bag-shopping "></i>
            </li>
          </ul>
        </section>
        <section id="us">
          <ul class= "navbar-nav ">
            <li class="nav-item " >
            <i class="fa-solid fa-user"></i>
            </li>
          </ul>
        </section>
      <br>
          
      

       
