<footer id="piepagina">
    <div class="segmento1">
        <!-- /**primera parte palabra siguenos**/ -->
        <div class="siguenos">
        <h2> Siguenos</h2>
        </div>
        <!-- redes sociales -->
        <div class="redes">
        <a href="https://es-la.facebook.com/" target="_blank"><span class="fb"><i class="fa-brands fa-facebook"></i></span></a>
        <a href="https://twitter.com/" target="_blank"><span class="tw"><i class="fa-brands fa-twitter"></i></span> </a>
        <a href="https://www.instagram.com/"><span class="ins"><i class="fa-brands fa-square-instagram"></i></span> </a>
        </div>
    </div>
  <hr>
  <!-- 2daparte del pie de pagina -->
    <div class="segmento2">
  
            <div class="direccion">
                <h2> Mi cuenta</h2>
                <a href="#">Carrito</a>
                <a href="#">Actualiza tus Datos</a>
                <a href="#" id="rgt">Registrate</a>
            </div>
  
            <div class="ayuda">
                <h2> Ayuda</h2>
                <a href="#">Contactanos</a>
                <a href="#">Nuestras Politicas</a>
                <a href="#">Política de protección de datos personales</a>
            </div>
  
            <div class="pagos">
                <h2> Metodos de pagos</h2>
                <span class="pyp"><i class="fa-brands fa-paypal" id="paypal"></i></span>
                <span class="vs"><i class="fa-brands fa-cc-visa"></i></span>
                <span class="mt"><i class="fa-brands fa-cc-mastercard"></i></span>
  
        </div>
         <div class="direcciones">
           <h2> Encuentra tu tienda mas cercana</h2>
           <address>
            <h2>Oficina principal</h2>
  
                Direccion: Centro comercial Plaza imperial
                <br>
                Telefono:32198546556
                </address>
                <a href="#"><button class="masdirecciones"></a>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Mas direcciones
  
                </button>
  
         </div>
  
    </div>
  
  </footer>
  
